<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ASC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.18.0" newVersion="8.0.18.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExcelDataReader" publicKeyToken="93517dbe6a4012fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="dbup-core" publicKeyToken="4b419c53bdfd4cbf" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.11.4.0" newVersion="3.11.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Renci.SshNet" publicKeyToken="1cee9f8bde3db106" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.0.0.0" newVersion="2020.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ASC.Properties.Settings>
      <setting name="dbHost" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="dbPort" serializeAs="String">
        <value>3306</value>
      </setting>
      <setting name="dbName" serializeAs="String">
        <value>ausece</value>
      </setting>
      <setting name="lastLogin" serializeAs="String">
        <value />
      </setting>
      <setting name="StoreLastCat" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WorkspaceTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WorkspaceLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WorkspaceWidth" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="WorkspaceHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="WorkspaceState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="ACPDisplayArhiveUsers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="language" serializeAs="String">
        <value>ru-Ru</value>
      </setting>
      <setting name="PreviewTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PreviewLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PreviewWidth" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="PreviewHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="PreviewMaximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastCamera" serializeAs="String">
        <value />
      </setting>
      <setting name="LastCameraSet" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LookLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LookTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WorkspaceBackground" serializeAs="String">
        <value />
      </setting>
      <setting name="LastCompany" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="koLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="koTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PhotoAddTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PhotoAddLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PhotoAddWidth" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="PhotoAddHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="StoreCatsWidth" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="StoreArticulHeight" serializeAs="String">
        <value>60*</value>
      </setting>
      <setting name="StoreDetailHeight" serializeAs="String">
        <value>40*</value>
      </setting>
      <setting name="PhotoAddState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="ArticulTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ArticulLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ArticulWidth" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="ArticulHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="ArticulState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="ExportLastStore" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="StoreLastStore" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WebCamCurrentResolution" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RealizPayTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RealizPayLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RealizPayHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="RealizPayWidth" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="RealizPayState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="RpLastUserFilter" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SettingsUpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OnlyMyOrders" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Theme" serializeAs="String">
        <value>Office2013DarkGray</value>
      </setting>
      <setting name="NewRepairLastCompany" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BackupPath" serializeAs="String">
        <value />
      </setting>
      <setting name="PriceEditorTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PriceEditorLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PriceEditorWidth" serializeAs="String">
        <value>1100</value>
      </setting>
      <setting name="PriceEditorHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="PriceEditorState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="TMTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TMLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TMWidth" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="TMHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="TMState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="PlayerTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PlayerLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PlayerWidth" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="PlayerHeight" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="IncludePn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncludeDescription" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncludePrice" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncludePrice4Sc" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncludePriceOpt" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncludePriceOpt2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncludePriceOpt3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncludePhoto" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastSticker" serializeAs="String">
        <value />
      </setting>
      <setting name="UserFieldsSearch" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CategoriesState" serializeAs="String">
        <value />
      </setting>
      <setting name="OnlyInMyOffice" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RcardRow3" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="RcardRow1" serializeAs="String">
        <value>90</value>
      </setting>
      <setting name="FontFamily" serializeAs="String">
        <value>Arial</value>
      </setting>
      <setting name="RpFilter" serializeAs="String">
        <value />
      </setting>
      <setting name="ClShowArchive" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DocsPrinter" serializeAs="String">
        <value />
      </setting>
      <setting name="StickersPrinter" serializeAs="String">
        <value />
      </setting>
      <setting name="TasksVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StockTakingPhotoVis" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NewRepLeftPanel" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="KassaSidebarExpanded" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DocsSidebarExpanded" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CartridgesOnly" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ArrivalSidebarExpanded" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StoreSidebarExpanded" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IgnoreAfter" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TasksPanelLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TasksPanelTop" serializeAs="String">
        <value>140</value>
      </setting>
      <setting name="StoreLastOption" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="ExportPath" serializeAs="String">
        <value />
      </setting>
      <setting name="PathOfImages" serializeAs="String">
        <value>http://site.com</value>
      </setting>
      <setting name="ExportSidebarExpanded" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SearchArticul" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StickerVariant" serializeAs="String">
        <value />
      </setting>
      <setting name="ExportProductAvailability" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SkipUpdate" serializeAs="String">
        <value />
      </setting>
      <setting name="PriceWorkCategoriesState" serializeAs="String">
        <value />
      </setting>
    </ASC.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="auseceEntities" connectionString="metadata=res://ASC.DataModel/Model1.csdl|res://ASC.DataModel/Model1.ssdl|res://ASC.DataModel/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=ascnb1.ru;user id=user;persistsecurityinfo=True;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="MySql.Data.EntityFramework.MySqlConnectionFactory, MySql.Data.EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework, Version=8.0.18.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=8.0.18, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>